<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">My Restaurant</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref="home">Home</a></li>
                <li><a ui-sref="home.categories">Categories</a></li>
                <!-- <li><a href="#contact">Contact</a></li> -->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

<ol class="breadcrumb">
    <li ng-if="$ctrl.state.home"><a href="#">Home</a></li>
    <li ng-if="$ctrl.state.categories"><a href="#">Categories</a></li>
    <li ng-if="$ctrl.state.items" class="active">Items</li>
</ol>

<div class="starter-template">
    <h1>Welcome to our Restaurant</h1>
    <p class="lead">Click "Categories" on the nav bar to view our delicious dishes.</p>
</div>

<div ui-view></div>

</div><!-- /.container -->